@import 'base/reset';
@import 'base/variables';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

@media screen and (max-width:599px) {     
    
    .wrapper {
        width: 90%;

        .header {
            display: flex; 
            
            .header__menu {
                display: block;

                .menu__item {
                    
                    .menu__link {
                        padding: $marginMain/2;
                    }
                }
            }

            .header__heading {

                .heading__wrap-primary {

                    .heading-wrap-primary__title {
                        font-size: 2rem;
                    }
                }
            }
        }

        .main {

            .main__imgs-wrap {

                .main__img-link {                   
                    min-width: 150px;
                }
            }
        }

        .footer {

            .footer__nav {

                .footer__link {
                    padding: $marginDeg/4 $marginDeg/6;
                }
            }
        }
    }    
}

@media screen and (min-width:600px) and (max-width:1239px) {

    .wrapper {        

        .header {            

            .header__menu {                

                .menu__item {

                    .menu__link {
                        padding: $marginMain/2;
                    }
                }        
            }
        }

        .main {

            .main__imgs-wrap {

                .main__img-link {
                    min-width: 200px;
                }
            }
        }

        .footer {

            .footer__nav {

                .footer__link {
                    padding: $marginDeg/3 $marginDeg/4;
                }
            }

            .footer__item {
                padding-bottom: $marginDeg/3;
            }
        }
    }    
}

@media screen and (min-width:1240px) {

    .wrapper {

        .main {

            .main__imgs-wrap {

                .main__img-link {
                    width: 45%;                    
                }
            }
        }
    }
    
}