@import 'base/reset';
@import 'base/variables';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

@media screen and (max-width:599px) {     
    
    .wrapper {
        width: 90%;

        .header {
            display: flex; 
            
            .header__menu {
                display: block;

                .menu__item {
                    
                    .menu__link {
                        padding: $marginMain/2;
                    }
                }
            }

            .header__heading {

                .heading__wrap-primary {

                    .heading-wrap-primary__title {
                        font-size: 2rem;
                    }
                }
            }
        }

        .main {

            .main__imgs-wrap {

                .main__img-link {                   
                    min-width: 150px;
                }
            }
        }
    }    
}